<%= form_for(@training) do |f| %>
  <%= error_messages!(@training) %>
  
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  
  <div>
    <%= f.label :section %>
    <%= f.text_field :section %>
  </div>
  
  <div>
    <%= f.label :level %>
    <%= f.text_field :level %>
  </div>
  
  <div class="form-actions">
    <%= link_to 'â† Retour', trainings_path, :class => "btn btn-primary" %>
    <%= f.submit :class => "btn btn-primary" %>
  </div>
<% end %>
