<%= render "shared/private_sidebar" %>

<h1 class="page-header">Liste des Formations</h1>

<div class="row page-menu-bar">
  <%= link_to 'Nouveau', new_training_path, :class => "btn btn-mini btn-inverse" %>
</div>

<% if @trainings.any? %>
  <table class="table table-bordered table-condensed">
    <tr>
      <th>Intitulé</th>
      <th>Section</th>
      <th>Niveau</th>
      <th>Actions</th>
    </tr>

    <% @trainings.each do |training| %>
    <tr>
      <td><%= training.name %></td>
      <td><%= training.section %></td>
      <td><%= training.level %></td>
      <td>
        <%= link_to training, :class => "btn btn-mini" do %>
          <i class="icon-eye-open"></i>
          <!-- Voir -->
        <% end %>
        <%= link_to edit_training_path(training), :class => "btn btn-mini" do %>
          <i class="icon-pencil"></i>
          <!-- Modifier -->
        <% end %>
        <%= link_to training, confirm: 'Êtes-vous sûr?', method: :delete, :class => "btn btn-mini" do %>
          <i class=" icon-trash"></i>
          <!-- Supprimer -->
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>

<% else %>
  <h2>Aucune formation</h2>
<% end %>
