<%= form_for [@student,@evaluation] do |f| %>

  <label>Étudiant</label>
  <span class="uneditable-input"><%= @student.user.name %></span>
  
  <label>Matière</label>
  <span class="uneditable-input"><%= @evaluation.subject.name %></span>
  
  <%= f.label :grade, "Note" %>
  <%= f.text_field :grade, :class => "span1" %>
  
  <div class="form-actions">
    <%= link_to '← Retour', student_evaluations_path(@student), :class => "btn btn-primary" %>
    <%= f.submit "Modifier la Note", :class => "btn btn-primary" %>
  </div>
<% end %>