<%= form_for(@student) do |f| %>
  <%= rolable_error_messages!(@student, @user) %>
  
  <%= fields_for @user do |uf| %>
    <div>
      <%= uf.label :last_name %>
      <%= uf.text_field :last_name %>
    </div>
    
    <div>
      <%= uf.label :first_name %>
      <%= uf.text_field :first_name %>
    </div>
    
    <div>
    <% if action_name == 'new' or action_name == 'create' %>
      <%= uf.label :email %>
      <%= uf.email_field :email %>
    <% else %>
      <%= uf.label :email %>
      <div class="uneditable-input"><%= @user.email %></div>
    <% end %>
    </div>
    
    <% if action_name == "new" || action_name == "create" %>
    <div>
      <%= uf.label :password %>
      <%= uf.password_field :password %>
    </div>

    <div>
      <%= uf.label :password_confirmation %>
      <%= uf.password_field :password_confirmation %>
    </div>
    <% end %>
  <% end %>
  
  <div>
    <%= f.label :birthdate %>
    <%= f.text_field :birthdate %>
  </div>
  
  <div>
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>
  
  <div>
    <%= f.label :zip_code %>
    <%= f.text_field :zip_code %>
  </div>
  
  <div>
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>
  
  <div>
    <%= f.label :mobile_phone_number %>
    <%= f.text_field :mobile_phone_number %>
  </div>
  
  <div>
    <%= f.label :home_phone_number %>
    <%= f.text_field :home_phone_number %>
  </div>
  
  <div class="actions">
    <%= f.submit :class => "btn btn-primary" %>
  </div>
<% end %>
