<%= render "shared/private_sidebar" %>

<h1 class="page-header">Liste des Étudiants</h1>

<% if school_user_signed_in? || current_user.is_admin %>
  <div class="row page-menu-bar">
    <%= link_to 'Nouveau', new_student_path, :class => "btn btn-mini btn-inverse" %>
  </div>
<% end %>

<table class="table table-bordered table-condensed">
  <tr>
    <th>Nom</th>
    <th>Prénom</th>
    <th>Ville</th>
    <th>Actions</th>
  </tr>

<% @students.each do |student| %>
  <tr>
    <td>
      <span class="badge badge-status <%= account_status(student.user) %>"></span>
      <%= student.user.last_name.upcase %>
    </td>
    <td><%= student.user.first_name.capitalize %></td>
    <td><%= student.city.capitalize %></td>
    <td>
      <%= link_to student, :class => "btn btn-mini" do %>
        <i class="icon-eye-open"></i>
        <!-- Voir -->
      <% end %>
      <% if school_user_signed_in? || current_user.is_admin %>
        <%= link_to student_evaluations_path(student), :class => "btn btn-mini" do %>
          <i class=" icon-th"></i>
          <!-- Voir les Notes -->
        <% end %>       
        <%= link_to edit_student_path(student), :class => "btn btn-mini" do %>
          <i class="icon-pencil"></i>
          <!-- Modifier -->
        <% end %>
        <%= link_to student, confirm: 'Êtes-vous sûr?', method: :delete, :class => "btn btn-mini" do %>
          <i class=" icon-trash"></i>
          <!-- Supprimer -->
        <% end %>
      <% end %>
      <% if student.user.invitation_accepted_at.nil? %>
        <%= link_to reinvite_user_student_path(student), method: :put, :class => "btn btn-mini" do %>
          <i class="icon-envelope"></i>
          <!-- Envoyer email invitation -->
        <% end %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>
