<%= render "shared/private_sidebar" %>

<h1 class="page-header">Liste des Étudiants</h1>

<div class="row page-menu-bar">
  <%= link_to 'Nouveau', new_student_path, :class => "btn btn-mini btn-inverse" %>
</div>

<table class="table table-bordered table-condensed">
  <tr>
    <th>Nom</th>
    <th>Prénom</th>
    <th>Ville</th>
    <th>Adminisrateur</th>
    <th>Actions</th>
  </tr>

<% @students.each do |student| %>
  <tr>
    <td><%= student.user.last_name.upcase %></td>
    <td><%= student.user.first_name.capitalize %></td>
    <td><%= student.city.capitalize %></td>
    <% if student.user.is_admin %>
      <td><span class="badge badge-info">Oui</span></td>
    <% else %>
      <td><span class="badge">Non</span></td>
    <% end %>
    <td>
      <%= link_to student, :class => "btn btn-mini" do %>
        <i class="icon-eye-open"></i>
        <!-- Voir -->
      <% end %>
      <%= link_to edit_student_path(student), :class => "btn btn-mini" do %>
        <i class="icon-pencil"></i>
        <!-- Modifier -->
      <% end %>
      <%= link_to student, confirm: 'Êtes-vous sûr?', method: :delete, :class => "btn btn-mini" do %>
        <i class=" icon-trash"></i>
        <!-- Supprimer -->
      <% end %>
    </td>
  </tr>
<% end %>
</table>
