<%= render "shared/private_sidebar" %>

<h1 class="page-header">Historique des Chargé de Placement</h1>

<h3>Etudiant</h3>
<div class="well">  
  <strong>Nom: </strong><%= @student.user.last_name.upcase %><br />
  <strong>Prénom: </strong><%= @student.user.first_name.capitalize %><br />
  <strong>Email: </strong><%= @student.user.email %><br />
</div>

<h3>Liste des Chargés de Placement</h3>
<% if @recruiters_list.any? %>
  <table class="table table-bordered table-condensed">
    <tr>
      <th>Nom</th>
      <th>Email</th>
      <th>Début</th>
      <th>Fin</th>
    </tr>
  
    <% @recruiters_list.each do |recruiter| %>
    <tr>
      <td><%= recruiter.recruiter.user.name %></td>
      <td><%= recruiter.recruiter.user.email %></td>
      <td><%= recruiter.start_date.strftime("%d-%m-%Y à %Hh%M") %></td>
      <% if recruiter.end_date %>
        <td><%= recruiter.end_date.strftime("%d-%m-%Y à %Hh%M") %></td>
      <% else %>
        <td>-</td>
      <% end %>
    </tr>
    <% end %>
  <table>
<% else %>
  <h4>Cet étudiant n'a aucun historique de chargés de placement</h4>
<% end %> 
<div class="row page-menu-bar">
  <%= link_to 'Nouvel Assignement', new_recruiter_student_path(@student), :class => "btn btn-mini btn-inverse" %>
</div>

<div class="form-actions">
  <%= link_to '← Retour', student_path(@student), :class => "btn btn-primary" %>
</div>
