<%= render "shared/private_sidebar" %>

<h1 class="page-header">Étudiant</h1>

<div class="well">
  <%= account_status_for_show(@student.user) %>
  
  <strong>Nom: </strong><%= @student.user.last_name.upcase %><br />
  <strong>Prénom: </strong><%= @student.user.first_name.capitalize %><br />
  <strong>Email: </strong><%= @student.user.email %><br />
  <strong>Date de Naissance: </strong><%= @student.birthdate %><br />
  <strong>Adresse: </strong><%= @student.address %><br />
  <strong>Code Postal: </strong><%= @student.zip_code %><br />
  <strong>Ville: </strong><%= @student.city %><br />
  <strong>Numéro de Mobile: </strong><%= @student.mobile_phone_number %><br />
  
  <% unless @student.user.invitation_accepted_at.nil? %>
    <br /><span>Compte activé le <strong><%= @student.user.invitation_accepted_at.strftime("%d-%m-%Y") %></strong></span>
  <% end %>
</div>

<div class="well">
  <% if @current_recruiter && @current_recruiter.end_date.nil? %>
    <strong>Chargé de Placement: </strong><%= @current_recruiter.recruiter.user.name %><br />
    <strong>Depuis le: </strong><%= @current_recruiter.start_date.strftime("%d-%m-%Y à %Hh%M") %><br />
  <% else %>
    <h3>Cet étudiant n'est assigné à aucun chargé de placement</h3>
  <% end %>
  
  <% if @recruiters_count > 0 %>
    <div class="row-fluid">
      <div class="span12" style="text-align: right;"><%= link_to "Historique", student_recruitments_path(@student) %></div>
    </div>
  <% end %>
</div>

<div class="form-actions">
  <%= link_to '← Retour', students_path, :class => "btn btn-primary" %>
  <% if school_user_signed_in? || current_user.is_admin %>
    <%= link_to 'Editer', edit_student_path(@student), :class => "btn btn-primary" %>
  <% end %>
  <% if @student.user.invitation_accepted_at.nil? %>
    <%= link_to reinvite_user_student_path(@student), method: :put, :class => "btn" do %>
      <i class="icon-envelope"></i> Envoyer un Email d'invitation
    <% end %>
  <% end %>
  <%= link_to 'Nouvel Assignement', new_student_recruitment_path(@student), :class => "btn" %>
</div>
