<%= render "shared/private_sidebar" %>

<h1 class="page-header">Étudiant</h1>

<div class="well">
  <%= account_status_for_show(@student.user) %>
  
  <strong>Nom: </strong><%= @student.user.last_name.upcase %><br />
  <strong>Prénom: </strong><%= @student.user.first_name.capitalize %><br />
  <strong>Email: </strong><%= @student.user.email %><br />
  <strong>Date de Naissance: </strong><%= @student.birthdate %><br />
  <strong>Adresse: </strong><%= @student.address %><br />
  <strong>Code Postal: </strong><%= @student.zip_code %><br />
  <strong>Ville: </strong><%= @student.city %><br />
  <strong>Numéro de Mobile: </strong><%= @student.mobile_phone_number %><br />
  
  <% unless @student.user.invitation_accepted_at.nil? %>
    <br /><span>Compte activé le <strong><%= @student.user.invitation_accepted_at.strftime("%d-%m-%Y") %></strong></span>
  <% end %>
</div>

<div class="well">
  <div style="line-height: 25px;">
    <%= student_is_captain(@student) %>
    <%= student_is_student_union_member(@student) %>
  </div>
  <% if @current_class %>
    <strong>Classe: </strong><%= @current_class.training.short_name %> - <%= @current_class.year %>
  <% else %>
    <h3>Cet étudiant n'est assigné à aucune classe</h3>
  <% end %>
</div>

<div class="well">
  <% if @current_recruiter && @current_recruiter.end_date.nil? %>
    <strong>Chargé de Placement: </strong><%= @current_recruiter.recruiter.user.name %><br />
    <strong>Depuis le: </strong><%= @current_recruiter.start_date.strftime("%d-%m-%Y à %Hh%M") %><br />
  <% else %>
    <h3>Cet étudiant n'est assigné à aucun chargé de placement</h3>
  <% end %>
  
  <% if @recruiters_count > 1 && (school_user_signed_in? || current_user.is_admin) %>
    <div class="row-fluid">
      <div class="span12" style="text-align: right;"><%= link_to "Historique", student_recruitments_path(@student) %></div>
    </div>
  <% end %>
</div>

<div class="well">
  <% if @current_contract %>
      En <strong><%= CONTRACTS.select{ |hash| hash[:code] == @current_contract.kind }.first[:name] %></strong> avec <strong><%= @current_contract.company.corporate_name %></strong>.<br />
      <strong>Début de contrat : </strong><%= @current_contract.start_date.strftime("%d-%m-%Y") %><br /> 
      <strong>Fin de contrat : </strong><%= @current_contract.end_date.strftime("%d-%m-%Y") %>
  <% else %>
    <h3>Cet étudiant n'est pas sous contrat avec une entreprise</h3>
  <% end %>
  
  <% if @contracts_count > 0 && (recruiter_signed_in? || current_user.is_admin)%>
    <div class="row-fluid">
      <div class="span12" style="text-align: right;"><%= link_to "Historique", student_contracts_path(@student) %></div>
    </div>
  <% end %>
</div>

<div class="form-actions">
  <% unless @class %>
    <%= link_to '← Retour', students_path, :class => "btn btn-primary" %>
  <% else %>
    <%= link_to '← Retour', class_path(@class), :class => "btn btn-primary" %>
  <% end %>
  <% if school_user_signed_in? || current_user.is_admin %>
    <%= link_to 'Editer', edit_student_path(@student), :class => "btn btn-primary" %>
  <% end %>
  <% if @student.user.invitation_accepted_at.nil? %>
    <%= link_to reinvite_user_student_path(@student), method: :put, :class => "btn" do %>
      <i class="icon-envelope"></i> Envoyer un Email d'invitation
    <% end %>
  <% end %>
  <% if school_user_signed_in? || current_user.is_admin %>
    <%= link_to 'Nouvel Assignement', new_student_recruitment_path(@student), :class => "btn" %>
    <%= link_to 'Nouvelle Classe', new_class_student_path(@student), :class => "btn" %>
  <% end %>
  <% if recruiter_signed_in? || current_user.is_admin %>
    <%= link_to "Nouveau Contrat", new_student_contract_path(@student), :class => "btn" %>
  <% end %>
</div>
