<%= content_for :sidebar do %>
  <li class="nav-header">Public</li>
  <li>
    <%= link_to do %>
      <i class="icon-home"></i>
      École
    <% end %>
  </li>
  <li>
    <%= link_to do %>
      <i class="icon-camera"></i>
      Actualités
    <% end %>
  </li>
  <li>
    <%= link_to do %>
      <i class="icon-envelope"></i>
      Contact
    <% end %>
  </li>
  <li class="nav-header">Privé</li>
  <li>
    <%= link_to do %>
      <i class="icon-user"></i>
      Connection
    <% end %>
  </li>
<% end %>