<%= render "shared/public_sidebar"%>
<h1 class="page-header">Changez votre mot de passe</h1>
<div id="login">
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>
    <p><%= f.password_field :password, :class => "label", :placeholder => "Password" %></p>
    <p><%= f.password_field :password_confirmation, :class => "label", :placeholder => "Confirmer votre password" %></p>
    <div><%= f.submit "Changer mon mot de passe", :class => "btn pull-right" %></div>
  <% end %>
</div>