<h2>Changez votre mot de passe</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div><%= f.label :password, "Nouveau mot de passe" %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation, "Confirmation du mot de passe" %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Changer mon mot de passe" %></div>
<% end %>

<%= render "links" %>