<%= content_for :sidebar do %>
  <li class="nav-header">Public</li>
  <li>
    <%= link_to school_public_pages_path do %>
      <i class="icon-home"></i>
      École
    <% end %>
  </li>
  <li>
    <%= link_to news_public_pages_path do %>
      <i class="icon-camera"></i>
      Actualités
    <% end %>
  </li>
  <li>
    <%= link_to contact_public_pages_path do %>
      <i class="icon-envelope"></i>
      Contact
    <% end %>
  </li>
  <li class="nav-header">Privé</li>
  <% if user_signed_in? %>
    <li>
      <%= link_to home_index_path do %>
        <i class="icon-user"></i>
        Mon espace
      <% end %>
    </li>
  <% end %>
  
  <% if school_user_signed_in? %>
    <li>
      <%= link_to school_users_path do %>
        <i class="icon-list-alt"></i>
        Pédagogiques
      <% end %>
    </li>
    <li>
      <%= link_to teachers_path do %>
        <i class="icon-list-alt"></i>
        Professeurs
      <% end %>
    </li>
  <% end %>
  
  <% if school_user_signed_in? || recruiter_signed_in? %>
    <li>
      <%= link_to recruiters_path do %>
        <i class="icon-list-alt"></i>
        Chargés de Placement
      <% end %>
    </li>
    <li>
      <%= link_to students_path do %>
        <i class="icon-list-alt"></i>
        Étudiants
      <% end %>
    </li>
  <% end %>
  <% if recruiter_signed_in? %>
    <li>
      <%= link_to companies_path do %>
        <i class="icon-leaf"></i>
        Entreprises
      <% end %>
    </li>
  <% end %>
  
  <% if school_user_signed_in? %>
    <li>
      <%= link_to trainings_path do %>
        <i class="icon-list-alt"></i>
        Formations
      <% end %>
    </li>
  <% end %>
  
  <% if student_signed_in? %>
    <li>
      <%= link_to class_path(@current_class) do %>
        <i class="icon-list-alt"></i>
        Ma Classe
      <% end %>
    </li>
  <% end %>
    
  <li>
    <%= link_to classes_path do %>
      <i class="icon-list-alt"></i>
      Classes
    <% end %>
  </li>
  
  <% if school_user_signed_in? || student_signed_in? || teacher_signed_in? %>
    <li>
      <%= link_to subjects_path do %>
        <i class="icon-list-alt"></i>
        Matières
      <% end %>
    </li>
  <% end %>
  
  <% if school_user_signed_in? || student_signed_in? || teacher_signed_in? %>
    <li>
      <%= link_to evaluations_path do %>
        <i class="icon-list-alt"></i>
        Notes
      <% end %>
    </li>
  <% end %>
<% end %>