<p id="notice"><%= notice %></p>

<p>
  <b>Event:</b>
  <%= @attendee.event_id %>
</p>

<p>
  <b>Student:</b>
  <%= @attendee.student_id %>
</p>


<%= link_to 'Edit', edit_attendee_path(@attendee) %> |
<%= link_to 'Back', attendees_path %>
