<%= render "shared/private_sidebar" %>

<h1 class="page-header">Ingesup Platform</h1>

<div class="well">
  <p>Bienvenue sur la plateforme Ingesup</p>

  <p>Voici vos informations personnelles:</p>

  <ul>
    <li>Nom : <strong><%= current_user.last_name.upcase %></strong></li>
    <li>Prénom : <%= current_user.first_name.capitalize %></li>
    <li>Email : <%= current_user.email %></li>
  </ul>

  <p>Connecté en tant que : <strong><%= current_user.rolable_type %></strong></p>

  <% if teacher_signed_in? %>
    <p>Année d'arrivée: <%= current_user.rolable.arrival_year %></p>
  <% end %>

  <% if student_signed_in? %>
    <p>Autres informations :
      <ul>
        <li>Date de naissance : <%= current_user.rolable.birthdate %></li>
        <li>Ville : <%= current_user.rolable.city %></li>
        <li>Mobile : <%= current_user.rolable.mobile_phone_number %>
      </ul>
    </p>
    
    <p>
      <% unless @current_class.nil? %>
        Inscrit en classe de <strong><%= @current_class.name %></strong>
      <% else %>
        <h4>Vous n'êtes inscrit dans aucune classe</h4>
      <% end %>
    </p>
  <% end %>
</div>

<% if student_signed_in? %>
  <h2 class="label header label-info">Prochains Événements</h2>

  <% if @events.any? %>
    <% @events.each do |event| %>
      <div class="well">
        <div class="pull-right">
          <%= link_to "Plus d'Infos", event_path(event), :class => "btn btn-primary" %>
        </div>
        <h2><%= event.name %></h2>
        <div>
          <h3 class="inline"><small>Quand ? </small></h3>
          Du <strong><%= event.start_date.strftime("%d-%m-%Y à %Hh%M") %></strong> au 
          <strong><%= event.end_date.strftime("%d-%m-%Y à %Hh%M") %></strong>
        </div>
        <div>
          <h3 class="inline"><small>Où ? </small></h3>
          <strong><%= event.location %></strong>
        </div>
      </div>
    <% end %>
  <% else %>
    <h4><em>Vous ne participez à aucun événement</em></h4>
    <div class="pull-right">
      <%= link_to "Voir tous les Événements", events_path, :class => "btn" %>
    </div>
  <% end %>
<% end %>