<%= render "shared/private_sidebar" %>
<h1 class="page-header">Ingesup Platform</h1>


<p>Bienvenue sur la plateforme Ingesup</p>

<p>Voici vos informations personnelles:</p>

<ul>
  <li>Nom : <strong><%= current_user.last_name.upcase %></strong></li>
  <li>Prénom : <%= current_user.first_name.capitalize %></li>
  <li>Email : <%= current_user.email %></li>
</ul>

<p>Connecté en tant que : <strong><%= current_user.rolable_type %></strong></p>

<% if teacher_signed_in? %>
  <p>Année d'arrivée: <%= current_user.rolable.arrival_year %></p>
<% end %>