<%= render "shared/private_sidebar" %>
<h1 class="page-header">Emploi du temps</h1>
<div class="row page-menu-bar">
  <%= link_to 'Ajouter', new_lesson_path, :class => "btn btn-mini btn-inverse" %>
</div>


<div id="calendar">
  <h2 id="month">
    <%= link_to "<", :month => (@date.beginning_of_month-1) %>
    <%=h @date.strftime("%B %Y")%>
    <%= link_to ">", :month => (@date.end_of_month+1)%>
  </h2>
  <%= calendar_for @lessons, :year => @date.year, :month => @date.month do |calendar| %>
    <%= calendar.head("Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi", "Dimanche")%>
    <%= calendar.day(:day_method => :start_date) do |date, lessons| %>
      <%= date.day %>
      <ul>
        <% for lesson in lessons %>
          <li><%= link_to h(lesson.klass_and_lesson), lesson, "rel" => "popover", "data-original-title" => "#{if_exam(lesson)} #{lesson.start_time} à #{lesson.end_time}" ,"data-content" => "<b>Classe : </b>#{lesson.klass.name_and_level}<br /><b>Cour : </b>#{lesson.subject.name}<br /><b>Professeur : </b>#{lesson.teacher.name}" %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>
