<%= render "shared/private_sidebar" %>
<h1 class="page-header"><%= @lesson.subject.name %></h1>
<div class="well">
  <% if @lesson.is_test %>
    <p><span class="label label-important">EXAMEN</span></p>
  <% end %>
  <b>Professeur : </b><%= @lesson.teacher.name %><br />
  <b>Classe : </b><%= @lesson.klass.name %><br />
  <b>Début du cour : </b><%= @lesson.start_date %><br />
  <b>Fin du cour : </b><%= @lesson.end_date %>
</div>
<div class="form-actions">
  <%= link_to '← Retour', lessons_path, :class => "btn btn-primary" %>
  <% if school_user_signed_in? %>
    <%= link_to "Edit", edit_lesson_path, :class => "btn btn-primary" %>
    <%= link_to "Supprimer", lesson_path, confirm:'Êtes-vous sûr?', method: :delete, :class => "btn btn-danger" %>
  <% end %>
</div>
