<%= render "shared/private_sidebar" %>

<h1 class="page-header">Liste des Professeurs</h1>


<table class="table table-bordered table-condensed">
  <tr>
    <th>Nom</th>
    <th>Prénom</th>
    <th>Actions</th>
  </tr>

<% @teachers.each do |teacher| %>
  <tr>
    <td><%= teacher.user.last_name.upcase %></td>
    <td>
      <%= teacher.user.first_name.capitalize %>
      <% unless teacher.user.invitation_token.nil? %>
        <span class="label pull-right">Invité</span>
      <% end %>
    </td>
    <td>
      <%= link_to 'Show', teacher %>
      <%= link_to 'Edit', edit_teacher_path(teacher) %>
      <%= link_to 'Destroy', teacher, confirm: 'Are you sure?', method: :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Teacher', new_teacher_path %>
