<%= render "shared/private_sidebar" %>

<h1 class="page-header">Liste des Professeurs</h1>

<div class="row-fluid page-menu-bar">
  <%= link_to 'Nouveau', new_teacher_path, :class => "btn btn-mini btn-info" %>
</div>

<table class="table table-bordered table-condensed">
  <tr>
    <th>Nom</th>
    <th>Prénom</th>
    <th>Actions</th>
  </tr>

<% @teachers.each do |teacher| %>
  <tr>
    <td><%= teacher.user.last_name.upcase %></td>
    <td><%= teacher.user.first_name.capitalize %></td>
    <td>
      <%= link_to 'Voir', teacher %>
      <%= link_to 'Modifier', edit_teacher_path(teacher) %>
      <%= link_to 'Supprimer', teacher, confirm: 'Êtes-vous sûr?', method: :delete %>
    </td>
  </tr>
<% end %>
</table>
