<%= render "shared/private_sidebar" %>

<h1>Liste des Professeurs</h1>

<table class="table table-bordered table-condensed">
  <tr>
    <th>Nom</th>
    <th>Prénom</th>
    <th>Actions</th>
  </tr>

<% @teachers.each do |teacher| %>
  <tr>
    <td><%= teacher.user.last_name.upcase unless teacher.user.nil? %></td>
    <td><%= teacher.user.first_name.capitalize unless teacher.user.nil? %></td>
    <td>
      <%= link_to 'Show', teacher %>
      <%= link_to 'Edit', edit_teacher_path(teacher) %>
      <%= link_to 'Destroy', teacher, confirm: 'Are you sure?', method: :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Teacher', new_teacher_path %>
