<%= render "shared/private_sidebar" %>

<h1 class="page-header">Liste des Professeurs</h1>

<div class="row page-menu-bar">
  <%= link_to 'Nouveau', new_teacher_path, :class => "btn btn-mini btn-inverse" %>
</div>

<table class="table table-bordered table-condensed">
  <tr>
    <th>Nom</th>
    <th>Prénom</th>
    <th>Actions</th>
  </tr>

<% @teachers.each do |teacher| %>
  <tr>
    <td><%= teacher.user.last_name.upcase %></td>
    <td><%= teacher.user.first_name.capitalize %></td>
    <td>
      <%= link_to teacher, :class => "btn btn-mini" do %>
        <i class="icon-eye-open"></i>
        <!-- Voir -->
      <% end %>
      <%= link_to edit_teacher_path(teacher), :class => "btn btn-mini" do %>
        <i class="icon-pencil"></i>
        <!-- Modifier -->
      <% end %>
      <%= link_to teacher, confirm: 'Êtes-vous sûr?', method: :delete, :class => "btn btn-mini" do %>
        <i class=" icon-trash"></i>
        <!-- Supprimer -->
      <% end %>
    </td>
  </tr>
<% end %>
</table>
