<%= render "shared/private_sidebar" %>

<h1 class="page-header">Professeur</h1>

Nom: <%= @teacher.user.last_name.upcase %><br />
Prénom: <%= @teacher.user.first_name.capitalize %><br />
Email: <%= @teacher.user.email %><br />
Année d'Arrivée: <%= @teacher.arrival_year %><br />
<br />

<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
