<%= render "shared/private_sidebar" %>

<h1 class="page-header">Professeur</h1>

<div class="row-fluid page-menu-bar">
  <%= link_to 'Editer', edit_teacher_path(@teacher), :class => "btn btn-mini btn-inverse" %>
  <%= link_to 'Retour', teachers_path, :class => "btn btn-mini btn-inverse" %>
</div>

<div class="well">
  <strong>Nom: </strong><%= @teacher.user.last_name.upcase %><br />
  <strong>Prénom: </strong><%= @teacher.user.first_name.capitalize %><br />
  <strong>Email: </strong><%= @teacher.user.email %><br />
  <strong>Année d'Arrivée: </strong><%= @teacher.arrival_year %>
</div>
