<%= render "public_pages/sidebar"%>
<div id="login">
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <p><%= f.email_field :email, :class => "label", :placeholder => "Email" %></p>
    <p><%= f.password_field :password, :class => "label", :placeholder => "Password" %></p>

    <div><%= f.submit "Se connecter", :class => "btn pull-right" %></div>
  <% end %>

  <%= render "links" %>
</div>
