<h1 class="page-header">Envoyer une invitation</h1>

<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
  <%= devise_error_messages! %>

  <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="actions">
    <%= f.submit "Envoyer une invitation", :class => "btn btn-primary" %>
  </div>
<% end %>

<%= link_to "Accueil", after_sign_in_path_for(resource_name) %><br />
