<%= form_for(@school_user) do |f| %>
  <%= rolable_error_messages!(@school_user, @user) %>
  
  <%= fields_for @user do |uf| %>
    <div>
      <%= uf.label :last_name %>
      <%= uf.text_field :last_name %>
    </div>
    
    <div>
      <%= uf.label :first_name %>
      <%= uf.text_field :first_name %>
    </div>
    
    <div>
    <% if action_name == 'new' or action_name == 'create' %>
      <%= uf.label :email %>
      <%= uf.email_field :email %>
    <% else %>
      <%= uf.label :email %>
      <div class="uneditable-input"><%= @user.email %></div>
    <% end %>
    </div>
    
    <% if action_name == "new" || action_name == "create" %>
    <div>
      <%= uf.label :password %>
      <%= uf.password_field :password %>
    </div>

    <div>
      <%= uf.label :password_confirmation %>
      <%= uf.password_field :password_confirmation %>
    </div>
    <% end %>
  <% end %>

  <div class="form-actions">
    <%= link_to 'â† Retour', school_users_path, :class => "btn btn-primary" %>
    <%= f.submit :class => "btn btn-primary" %>
  </div>
<% end %>
