<%= render "shared/private_sidebar" %>

<h1 class="page-header">Service Pédagogique</h1>

<% if current_user.is_admin %>
  <div class="row page-menu-bar">
    <%= link_to 'Nouveau', new_school_user_path, :class => "btn btn-mini btn-inverse" %>
  </div>
<% end %>

<table class="table table-bordered table-condensed">
  <tr>
    <th>Nom</th>
    <th>Prénom</th>
    <th>Administrateur</th>
    <th>Actions</th>
  </tr>

<% @school_users.each do |school_user| %>
  <tr>
    <td>
      <span class="badge badge-status <%= account_status(school_user.user) %>"></span>
      <%= school_user.user.last_name.upcase %>
    </td>
    <td><%= school_user.user.first_name.capitalize %></td>
    <% if school_user.user.is_admin %>
      <td><span class="badge badge-info">Oui</span></td>
    <% else %>
      <td><span class="badge">Non</span></td>
    <% end %>
    
    <td>
      <%= link_to school_user, :class => "btn btn-mini" do %>
        <i class="icon-eye-open"></i>
        <!-- Voir -->
      <% end %>
      <% if current_user.is_admin %>
        <%= link_to  edit_school_user_path(school_user), :class => "btn btn-mini" do %>
          <i class="icon-pencil"></i>
          <!-- Modifier -->
        <% end %>
        <%= link_to school_user, confirm: 'Êtes-vous sûr?', method: :delete, :class => "btn btn-mini" do %>
          <i class="icon-trash"></i>
          <!-- Supprimer -->
        <% end %>
      <% end %>
      <% if school_user.user.invitation_accepted_at.nil? %>
        <%= link_to reinvite_user_school_user_path(school_user), method: :put, :class => "btn btn-mini" do %>
          <i class="icon-envelope"></i>
          <!-- Envoyer email invitation -->
        <% end %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>