<%= render "shared/private_sidebar" %>

<h1 class="page-header">Utilisateur Service Pédagogique</h1>

<div class="well">
  <% if @school_user.user.is_admin %>
    <span class="label label-important">Administrateur</span><br />
    <br />
  <% end %>
  
  <%= account_status_for_show(@school_user.user) %>
  
  <strong>Nom: </strong><%= @school_user.user.last_name.upcase %><br />
  <strong>Prénom: </strong><%= @school_user.user.first_name.capitalize %><br />
  <strong>Email: </strong><%= @school_user.user.email %><br />
  
  <% unless @school_user.user.invitation_accepted_at.nil? %>
    <br /><span>Compte activé le <strong><%= @school_user.user.invitation_accepted_at.strftime("%d-%m-%Y") %></strong></span>
  <% end %>
</div>

<div class="form-actions">
  <%= link_to '← Retour', school_users_path, :class => "btn btn-primary" %>
  <% if current_user.is_admin %>
    <%= link_to 'Editer', edit_school_user_path(@school_user), :class => "btn btn-primary" %>
  <% end %>
  <% if @school_user.user.invitation_accepted_at.nil? %>
    <%= link_to reinvite_user_school_user_path(@school_user), method: :put, :class => "btn" do %>
      <i class="icon-envelope"></i> Envoyer un Email d'invitation
    <% end %>
  <% end %>
</div>
