<!DOCTYPE html>
<html>
<head>
  <title>ErpProject</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <% if notice %>
    <div class="alert alert-success fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <%= notice %>
    </div>
  <% end %>
  <% if alert %>
    <div class="alert alert-error fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <%= alert %>
    </div>
  <% end %>

  <%= yield %>

</body>
</html>
