<%= render "shared/private_sidebar" %>

<h1 class="page-header">Liste des Classes</h1>

<div class="row page-menu-bar">
  <% if school_user_signed_in? || current_user.is_admin %>
    <%= link_to 'Nouveau', new_class_path, :class => "btn btn-mini btn-inverse" %>
  <% end %>
</div>

<% if @classes.any? %>
  <table class="table table-bordered table-condensed">
    <tr>
      <th>Classe</th>
      <% if teacher_signed_in? %>
      <th>Matières</th>
      <% end %>
      <th>Actions</th>
    </tr>

  <% @classes.each do |cl| %>
    <tr>
      <td><%= cl.training.short_name %> - <%= cl.year %></td>
      <% if teacher_signed_in? %>
        <td>
          <% cl.subjects.select { |s| s if @subjects.include?(s) }.each do |sub| %>
            <%= sub.name %><br />
          <% end %>   
        </td>
      <% end %>
      <td>
        <%= link_to class_path(cl), :class => "btn btn-mini" do %>
          <i class="icon-eye-open"></i>
          <!-- Voir -->
        <% end %>
        <% if school_user_signed_in? || current_user.is_admin %>
          <%= link_to edit_class_path(cl), :class => "btn btn-mini" do %>
            <i class="icon-pencil"></i>
            <!-- Modifier -->
          <% end %>
          <%= link_to class_path(cl), confirm: 'Êtes-vous sûr?', method: :delete, :class => "btn btn-mini" do %>
            <i class=" icon-trash"></i>
            <!-- Supprimer -->
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </table>

<% else %>
  <h2>Aucune classe</h2>
<% end %>
