<%= render "shared/private_sidebar" %>

<h1 class="page-header">Classe <small><%= @class.training.short_name %> - <%=@class.year %></small></h1>

<div class="row page-menu-bar">
  <% if school_user_signed_in? || teacher_signed_in? || current_user.is_admin %>
    <%= link_to 'Ajouter des Notes', new_class_evaluation_path(@class), :class => "btn btn-mini btn-inverse" %>
    <%= link_to 'Consulter les Notes', class_evaluations_path(@class), :class => "btn btn-mini btn-inverse" %>
  <% end %>
</div>

<% if @students.any? %>
  <p><strong>Effectif: <%= pluralize(@students.size, 'étudiant') %></strong></p>
  <table class="table table-bordered table-condensed">
    <tr>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Actions</th>
    </tr>

  <% @students.each do |student| %>
    <tr>
      <td>
        <span class="badge badge-status <%= account_status(student.user) %>"></span>
        <%= student.user.last_name.upcase %>
        <div class="pull-right">
          <%= student_is_captain(student) %>
        </div>
      </td>
      <td><%= student.user.first_name.capitalize %></td>
      <td>
        <%= link_to class_student_path(@class, student), :class => "btn btn-mini" do %>
          <i class="icon-eye-open"></i>
          <!-- Voir -->
        <% end %>
        <% if school_user_signed_in? || current_user.is_admin %>
          <% if @class %>
            <%= link_to class_student_evaluations_path(@class, student), :class => "btn btn-mini" do %>
              <i class=" icon-th"></i>
              <!-- Voir les Notes -->
            <% end %>
          <% else %>
            <%= link_to student_evaluations_path(student), :class => "btn btn-mini" do %>
              <i class=" icon-th"></i>
              <!-- Voir les Notes -->
            <% end %>
          <% end %>
          <%= link_to edit_student_path(student), :class => "btn btn-mini" do %>
            <i class="icon-pencil"></i>
            <!-- Modifier -->
          <% end %>
          <%= link_to student, confirm: 'Êtes-vous sûr?', method: :delete, :class => "btn btn-mini" do %>
            <i class=" icon-trash"></i>
            <!-- Supprimer -->
          <% end %>
        <% end %>
        <% if student.user.invitation_accepted_at.nil? %>
          <%= link_to reinvite_user_student_path(student), method: :put, :class => "btn btn-mini" do %>
            <i class="icon-envelope"></i>
            <!-- Envoyer email invitation -->
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </table>
  
<% else %>
  <h3>Aucun étudiant n'est dans cette classe</h3>
<% end %>

<div class="form-actions">
  <%= link_to '← Retour', classes_path, :class => "btn btn-primary" %>
  <% if school_user_signed_in? || current_user.is_admin %>
    <%= link_to 'Editer', edit_class_path(@class), :class => "btn btn-primary" %>
  <% end %>
</div>
